body{
    padding: 0px;
    margin: 0px;
}
                                /* HEADER */    
.main-nav{
    display: flex;
    justify-content: space-between;
    padding: 6px 24px;
}
.main-nav ul{
    display: flex;
    list-style-type: none;
    margin: 0px;
}
.main-nav ul li{
    margin: 10px;
}
.main-nav ul li a{
    text-decoration: none;
    color: black;
}
.main-nav ul li a:hover{
border-bottom: 2px solid black;
}
.header-image-wrapper img{
    width: 100%;
    position: relative;
}
.copilot{
    width: 35%;
   position: absolute;
   top: 35%;
   left: 8%;
}
.copilot a{
    background-color: #0067b8;
    color: white;
    padding: 2%;
    text-decoration: none;
}
                                    /* MAIN-CONTENT */

.ms-prduct-wrapper{
    display: flex;


}                                    
.product-card{
    width: 25%;
    margin: 20px;
    padding: 12px;
}
.product-card img{
    width: 100%;
}
.banner{
    display: flex;
    justify-content: center;
    position: relative;
}
.banner img{
    width: 95%;

}
.one-note{
    color: white;
    position: absolute;
    top: 30%;
    right: 5%;
}
.one-note a{
    background-color: #0067b8;
    padding: 10px;
    color: white;
    text-decoration: none;
}
.business{
    margin: 30px;
}